body {
  font-family: 'Rubik', sans-serif;
  color: rgb(94, 27, 27);
  background-color: bisque;
}

li {
    padding: 5px;
    margin: 5px;
    list-style-type:none
  }
  
  h1 {
    margin: 40px;
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
    text-align: center;
  }


  .jumbotron {
    padding: 2% 4%;
    margin: 2% 15%;
    background-color: rgb(250, 182, 54);
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  }
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  