
<li>
	{{name}}
		{{#if devour}} 
			<button class="change-devour btn" data-id="{{id}}" data-newdevour="{{devour}}">Eat me! <i class="far fa-smile"></i></button>
		{{/if}}
	<button class="delete-burger" data-id="{{this.id}}"><em>Forget me</em></button>
</li>
